<!--extends base -->
{% extends "base.html" %}
<!-- Import static -->
<!-- {% load staticfiles %} -->
    {% block title %}
    
    <div class= "container-fluid">
    	<div class="well well-sm"><center><h2>Select Class</h2></center></div>
	</div>
	
    {% endblock %} 
{% block content %}
    <div class= "container-fluid">
    
{% for i in classes %}
  <div class="col-sm-4">
    <div class="thumbnail">
<!--     <div class="well well-sm"><center><h4>{{i.classname}}</h4></center></div> -->
    <a href="/add_marking/{{i.idclasses}}" style="width:99%" class="btn btn-primary btn-lg" role="button">{{i.classname}}</a>
<!--     <a href="/add_marking/{{i.idclasses}}" style="width:49%" class="btn btn-default btn-lg" role="button">View Marking</a> -->
      </div>
      </div>
      {% endfor %}
    </div>


<div class= "container-fluid">
    	<div class="well well-sm"><center><h2>Books not marked in last 30 days</h2></center></div>
	
  <table class="table">
    <thead>
      <tr>
        <th>Student name</th>
        <th>Date last Marked</th>
        <th>Class</th
      </tr>
    </thead>
    <tbody>
    {%  for i in expiredStudents %}
<!--     .active, .success, .info, .warning, and .danger. -->
      <tr class="danger">
        <td>{{i.studentname}}</td>
        <td>{{i.datemarked}}</td>
        <td>{{i.classname.classname}}</td></tr>
        
    {% endfor %}
    </tbody></table></div>


{% endblock %}
 
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

